<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="book">
      <h2 data-cy="bookDetailsHeading"><span jhiTranslate="bookstoreMonoApp.book.detail.title">Book</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ book.id }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.title">Title</span></dt>
        <dd>
          <span>{{ book.title }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.author">Author</span></dt>
        <dd>
          <span>{{ book.author }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.publicationYear">Publication Year</span></dt>
        <dd>
          <span>{{ book.publicationYear }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.genre">Genre</span></dt>
        <dd>
          <span>{{ book.genre }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.price">Price</span></dt>
        <dd>
          <span>{{ book.price }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.quantityInStock">Quantity In Stock</span></dt>
        <dd>
          <span>{{ book.quantityInStock }}</span>
        </dd>
        <dt><span jhiTranslate="bookstoreMonoApp.book.shoppingCarts">Shopping Carts</span></dt>
        <dd>
          <div *ngIf="book.shoppingCarts">
            <a [routerLink]="['/shopping-cart', book.shoppingCarts.id, 'view']">{{ book.shoppingCarts.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
