<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading" jhiTranslate="bookstoreMonoApp.book.home.createOrEditLabel">
        Criar ou editar Book
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.author" for="field_author">Author</label>
          <input type="text" class="form-control" name="author" id="field_author" data-cy="author" formControlName="author" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.publicationYear" for="field_publicationYear"
            >Publication Year</label
          >
          <input
            type="number"
            class="form-control"
            name="publicationYear"
            id="field_publicationYear"
            data-cy="publicationYear"
            formControlName="publicationYear"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.genre" for="field_genre">Genre</label>
          <input type="text" class="form-control" name="genre" id="field_genre" data-cy="genre" formControlName="genre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" jhiTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.quantityInStock" for="field_quantityInStock"
            >Quantity In Stock</label
          >
          <input
            type="number"
            class="form-control"
            name="quantityInStock"
            id="field_quantityInStock"
            data-cy="quantityInStock"
            formControlName="quantityInStock"
          />
          <div
            *ngIf="
              editForm.get('quantityInStock')!.invalid &&
              (editForm.get('quantityInStock')!.dirty || editForm.get('quantityInStock')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantityInStock')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantityInStock')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo é do tipo numérico.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="bookstoreMonoApp.book.shoppingCarts" for="field_shoppingCarts">Shopping Carts</label>
          <select
            class="form-control"
            id="field_shoppingCarts"
            data-cy="shoppingCarts"
            name="shoppingCarts"
            formControlName="shoppingCarts"
            [compareWith]="compareShoppingCart"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="shoppingCartOption" *ngFor="let shoppingCartOption of shoppingCartsSharedCollection">
              {{ shoppingCartOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
